body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(11, 45, 11);
    padding: 10px;
    color: white;

}

header a {
    text-decoration: underline;
    padding: 70px;
    color: white;
}

#me {
    width: 220px;

    padding-right: 25px;
}

.me {
    display: flex;
}

#appx {
    width: 550px;
}

img {
    width: 250px;
}

.app {
    
}

html {
    scroll-behavior: smooth;
}


.google {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}



#about-me {
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 50px;

}

#contact-me {
    text-align: center;
    background-color: rgb(11, 45, 11);
    color: white;
    padding: 40px;
}

#portfolio {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(223, 220, 220);
    text-align: center;
}
 
#app-1 img {
    transition: transform 1s
}


#app-1 img:hover {
    transform: scale(1.08);
}

#app-2 img {
    transition: transform 1s
}


#app-2 img:hover {
    transform: scale(1.08);
}

#app-3 img {
    transition: transform 1s
}


#app-3 img:hover {
    transform: scale(1.08);

}

h2 {
    font-size: xx-large;
}