body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgb(11, 45, 11);
    padding: 10px;
    color: white;

}

header a {
    text-decoration: underline;
    padding: 70px;
    color: white;
}

#me {
    width: 220px;

    padding-right: 25px;
}

.me {
    display: flex;
}

#appx {
    width: 550px;
}

img {
    width: 250px;
}

.app {
    
}

html {
    scroll-behavior: smooth;
}


.google {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



#about-me {
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 50px;

}

#contact-me {
    text-align: center;
    background-color: rgb(11, 45, 11);
    color: white;
    margin-bottom: 70px;
    padding: 20px;
}

#portfolio {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(223, 220, 220);
    text-align: center;
}