header {
    text-align: center;
}

a {
    text-decoration: underline;
    padding: 50px;
}

#me {
    width: 220px;
    border-radius: 50%;
    padding-right: 25px;
}

.me {
    display: flex;
}

#app-1 {
    width: 550px;
}